:root {
  --base--color--primary: #0069ed;
  --base--color--secondary: #0053ba;
  --base--background-color: #ff662e;
  --base--border--color: #338fff;
  --base--color--white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--base--color--white);
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em;
  padding: 1em;
  box-shadow: gray;
}

.container--background {
  background-color: var(--base--background-color);
  border: 1em solid var(--base--border--color);
}

.container__header {
  margin-bottom: 0.1em;
  color: var(--base--color--white);
  text-transform: uppercase;
}

.container__p {
  color: white;
  text-align: justify;
  overflow-wrap: break-word;
  overflow: hidden;
  text-indent: 2em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.container__input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 30px;
  width: 400px;
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
}

.container__button {
  display: inline-block;
  border: none;
  padding: 0.5rem 6rem;
  margin: 0;
  background: var(--base--color--primary);
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.container__button--color {
  color: var(--base--color--white);
  font-family: sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

button:hover,
button:focus {
  background: var(--base--color--secondary);
}

button:focus {
  outline: 1px solid var(--base--color--white);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.result__paragraph {
  color: var(--base--color--white);
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: bolder;
}

.result__span {
  background-color: var(--base--color--white);
  color: var(--base--color--secondary);
  text-transform: uppercase;
  margin-top: 1.4em;
  font-size: 3em;
  font-weight: bolder;
}
